@font-face {
    font-family: "sora";
    src: url("/font/Sora/Sora-VariableFont_wght.ttf");
}

* {
    font-family: sora;
}

:root {
    --main: #F4EBFE;
    --box: #a2a2a2;
    --kategori: #DEC8F8;
    --tambah: #E0E36E;
    --trash: #FF3838;
    --sunting: #6AD6F9;
}